@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: blue;
    color: white;
}
